[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
faust="*"
methoddispatch = "*"
aiocache="*"
pytest="*"
rx="==3.0.0a3"
asynctest="*"
magicmock = "*"
ujson="*"
msgpack="*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
